@import '../../partials/mixins';
@import '../../partials/variables';

.card {
  padding: 0 1rem;
  width: 18rem;
  margin: 0 auto;
  &__anchor {
    text-decoration: none;
    color: #323232;
  }
  @include tablet {
    width: 21.75rem;
    padding: 0 1.5rem;
    margin: 0;
  }
  @include desktop {
    width: 20.25rem;
    padding: 2rem 0 1rem 1.5rem;
    border-left: 1px solid #E1E1E1;
    box-sizing: border-box;
  }
  &__header {
    font-size: 0.85rem;
    color: #afafaf;
    font-family: 'Avenir-Demi';
    margin: 0.5rem 0 2rem 0;
    @include tablet {
      margin: 2.125rem 0;
    }
    @include desktop {
      margin: 0 0 2rem 0;
    }
  }

}


