@import '../../partials/mixins';
@import '../../partials/variables';

.about {
  padding: 1.5rem 1rem 2.5rem 1rem;
  @include tablet {
    padding: 2.5rem 1.5rem 4rem 1.5rem;
    width: 45rem;
    margin: 0 auto;
  }
  @include desktop {
    margin: 0;
    padding: 1.75rem 0 3rem 0;
    width: 35.25rem;
  }
  &__highlight {
    border-bottom: 0.063rem solid #E1E1E1;
    padding-bottom: 0.25rem;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include desktop {
      padding: 0;
    }
  }
  &__header {
    margin: 0;
    font-family: 'Avenir-Bold';
    @include tablet {
      font-size: 2.25rem;
    }
    @include desktop {
      font-size: 1.6rem;
    }
  }
  &__from {
    display: flex;
    flex-direction: row;
  }
  &__uploaded-by {
    margin: 1rem 0;
    font-family: 'Avenir-Demi';
    font-size: 1rem;
    @include tablet {
      margin: 1.25rem 0;
      font-family: 'Avenir-Bold';
    }
  }
  &__date {
    align-self: center;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: #afafaf;
    
  }
  &__stats {
    display: flex;
    flex-direction: row;
    @include desktop {
      margin-right: 1.6rem;
    }
  }
  &__views-container {
    display: flex;
    flex-direction: row;
    width: 9rem;
    @include tablet {
      justify-content: flex-end;
      width: 7rem;
    }
  }
  &__likes-container {
    display: flex;
    flex-direction: row;
    width: 9rem;
    @include tablet {
      justify-content: flex-end;
      width: 7rem;
    }
  }
  &__icon {
    padding-right: 0.5rem;
  }
  &__likes {
    @include desktop {
      margin: auto 0;
    }
  }
  &__views {
    @include desktop {
      margin: auto 0;
    }
  }
  &__text {
    margin: 1.5rem 0 0 0;
    font-size: 0.75rem;
    line-height: 1.125rem;
    @include tablet {
      width: 32rem;
      font-size: 0.85rem;
      line-height: 1.4rem;
      margin-top: 2.5rem;
    }
    @include desktop {
      width: 26rem;
      font-size: 0.713rem;
      line-height: 1.2rem;
      margin-top: 2rem;
    }
  }
}