.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0 1rem;
  &__logo-container {
    height: 3rem;
    display: flex;
    align-items: center;
  }
  &__logo {
    height: 1.7rem;
  }
  &__input {
    height: 3rem;
    width: 18rem;
    font-size: 1rem;
    border: 0.063rem solid #AFAFAF;
    border-radius: 0.25rem;
    background-color: #FAFAFA;
    padding-left: 0.75rem;
    color: #323232;
    outline: none;
    box-sizing: border-box;
    &:focus {
      border: 0.125rem solid #0095FF;
      box-sizing: border-box;
      padding-left: 0.687rem;
    }
    &::placeholder {
      background-image: url('../../assets/Icons/SVG/Icon-search.svg');
      background-repeat: no-repeat;
      color: #323232;
      font-size: 1rem;
    }
  }
  &__account {
    display: flex;
    flex-direction: row;
  }
  &__upload-button {
    width: 13.875rem;
    height: 3rem;
    margin: 0.5rem 1rem 1rem 0;
    color: #FFFFFF;
    border: none;
    background-color:#0095FF;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-family: 'Avenir-Demi';
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__plus {
    font-size: 1.7rem;
    box-sizing: border-box;
    font-family: 'Avenir-Regular';
    display: flex;
    padding-bottom: 0.313rem;
    padding-right: 0.5rem;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    object-position: left;
    margin: 0.5rem 0 1rem 0;
  }
}